body {
  font-family: Arial;
  font-size: 17px;
  padding: 0;
  margin: 0;
}

*{
  box-sizing: border-box;
}

.row{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color:black;
  border: 1px solid rgb(12, 12, 12);
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid rgb(30, 28, 28);
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
a {
  color: #2196F3;
}

hr {
  border: 1px solid rgb(255, 253, 253);
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
label{
  color:white;
}
#tag:link, #tag:visited {
  background-color: #655d5d;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  left: 47%;
}

#tag:hover, #tag:active {
  background-color: rgb(7, 7, 7);
}
h3{
  color: white;
}
.options{
  display: flex;
}
button {
  background-color: #1a1b1b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}